body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 62, 62, 0.274);
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: 2rem;
    }
    article {
        padding: 3rem;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.267);

        button {
            padding: .7rem 1rem;
            color: white;
            background: rgb(57, 105, 138);
            border-radius: 4px;
        }
        button:hover {
            background: rgb(39, 74, 97);
        }
        button[disabled] {
            background: rgba(35, 52, 56, 0.274);
            pointer-events: none;
        }

        ul {
            margin: 4rem 0 0 0;
            padding: 0;
            color: rgb(6, 31, 7);
            text-shadow: 2px 2px 2px silver;
            text-decoration-line: underline;
            list-style: none;

        }
        input{
            margin: 2rem;
            padding: .2rem;
            font-size: 1rem;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: rgb(116, 65, 116);
            text-align: center;
       }
    }
}